<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "common-js.html" %}
</head>
<body>
<p>Hello Python!</p>
<button id="handleClick">点击</button>
</body>
<script>
    $(document).ready(function () {
        // 获取城区信息
        console.log("!!!")
        getAreas()
    });

    $('#handleClick').on('click', function () {
        console.log("????")
        getAreas()
    })

    function getAreas() {
        $.get("/api/v1.0/area/get", function (resp) {
            console.log("======")
            console.log(resp)
            console.log("======")
        })
    }

</script>
</html>