<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    {% include "common-js.html" %}
    {% include "common-css.html" %}
    <link rel="stylesheet" href='{{url_for("static", filename="vendor/iconfont/iconfont-equipment.css")}}'/>
    <style>
        * {
            touch-action: none;
        }

        .mui-content {
            padding-bottom: 33px;
        }

        .mui-table-view .mui-grid-view {
            background-color: transparent;
        }

        .iconfont {
            font-size: 24px;
        }

        .detail-table-view .mui-table-view-cell {
            padding: 2px 15px;
            font-size: 14px;
        }

        .detail-table-view .mui-row:first-child {
            padding-top: 11px;
        }

        .detail-table-view .mui-row:last-child {
            padding-bottom: 11px;
        }

        .ihome-call {
            position: fixed;
            z-index: 20;
            bottom: 0;
            width: 100%;
        }

        .house-info p {
            margin: 5px 0;
        }

        .house-brief {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">房屋详情</h1>
</header>
<div class="mui-content">
    <div id="slider" class="mui-slider">
        <div class="mui-slider-group" id="loop_switch">
            <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
            <!--&lt;!&ndash; 第一张 &ndash;&gt;-->
            <!--<div class="mui-slider-item">-->
            <!--<a href="#">-->
            <!--<img src="/static/vendor/mui/images/shuijiao.jpg" data-preview-src="" data-preview-group="1">-->
            <!--</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; 第二张 &ndash;&gt;-->
            <!--<div class="mui-slider-item">-->
            <!--<a href="#">-->
            <!--<img src="/static/vendor/mui/images/muwu.jpg" data-preview-src="" data-preview-group="1">-->
            <!--</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; 第三张 &ndash;&gt;-->
            <!--<div class="mui-slider-item">-->
            <!--<a href="#">-->
            <!--<img src="/static/vendor/mui/images/cbd.jpg" data-preview-src="" data-preview-group="1">-->
            <!--</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; 第四张 &ndash;&gt;-->
            <!--<div class="mui-slider-item">-->
            <!--<a href="#">-->
            <!--<img src="/static/vendor/mui/images/yuantiao.jpg" data-preview-src="" data-preview-group="1">-->
            <!--</a>-->
            <!--</div>-->
            {% for i in h.image %}
            <div class="mui-slider-item">
                <a href="#">
                    <img src="{{ i.url }}" data-preview-src="" data-preview-group="1">
                </a>
            </div>
            {% endfor %}
            <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
        </div>

        <div class="mui-slider-indicator">
            {% for i in h.image %}
            {% if loop.first %}
            <div class="mui-indicator mui-active"></div>
            {% else %}
            <div class="mui-indicator"></div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="mui-table-view">
        <div class="mui-table-view-cell">
            <div class="mui-table">
                <div class="mui-table-cell mui-col-xs-10 house-info">
                    <p style="color: #333;font-weight: bold;font-size: 16px;">{{ h.title }}</p>
                    <p>
                        {% for i in h.tag %}
                        <span class="mui-badge mui-badge-primary">{{ i.content}}</span>
                        {% endfor %}
                    </p>
                    <p class="house-brief"><span>2室主卧 | 88㎡ | 竹山中学</span><span
                            style="color: red;font-weight: bold">￥{{ h.price }}</span></p>
                </div>
            </div>
        </div>
    </div>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right" href="/community/detail?id=1">小区：鲁能领秀城</a>
        </li>
    </ul>
    <ul class="mui-table-view mui-grid-view">
        {% for fa in h.facility %}
        <li class="mui-table-view-cell  mui-col-xs-3 mui-col-sm-2"><a href="#">
            <span class="iconfont {{ fa.icon }}"></span>
            <div class="mui-media-body">{{ fa.name }}</div>
        </a></li>
        {% endfor %}
        <!--<li class="mui-table-view-cell  mui-col-xs-3 mui-col-sm-2"><a href="#">-->
        <!--<span class="iconfont icon-bingxiang"></span>-->
        <!--<div class="mui-media-body">Email</div>-->
        <!--</a></li>-->
        <!--<li class="mui-table-view-cell  mui-col-xs-3 mui-col-sm-2"><a href="#">-->
        <!--<span class="iconfont icon-bingxiang"></span>-->
        <!--<div class="mui-media-body">Chat</div>-->
        <!--</a></li>-->
        <!--<li class="mui-table-view-cell  mui-col-xs-3 mui-col-sm-2"><a href="#">-->
        <!--<span class="iconfont icon-bingxiang"></span>-->
        <!--<div class="mui-media-body">location</div>-->
        <!--</a></li>-->
        <!--<li class="mui-table-view-cell  mui-col-xs-3 mui-col-sm-2"><a href="#">-->
        <!--<span class="iconfont icon-bingxiang"></span>-->
        <!--<div class="mui-media-body">Search</div>-->
        <!--</a></li>-->
        <!--<li class="mui-table-view-cell  mui-col-xs-3 mui-col-sm-2"><a href="#">-->
        <!--<span class="iconfont icon-bingxiang"></span>-->
        <!--<div class="mui-media-body">Phone</div>-->
        <!--</a></li>-->
        <!--<li class="mui-table-view-cell  mui-col-xs-3 mui-col-sm-2"><a href="#">-->
        <!--<span class="mui-icon mui-icon-gear"></span>-->
        <!--<div class="mui-media-body">Setting</div>-->
        <!--</a></li>-->
        <!--<li class="mui-table-view-cell  mui-col-xs-3 mui-col-sm-2"><a href="#">-->
        <!--<span class="mui-icon mui-icon-info"></span>-->
        <!--<div class="mui-media-body">about</div>-->
        <!--</a></li>-->
        <!--<li class="mui-table-view-cell  mui-col-xs-3 mui-col-sm-2"><a href="#">-->
        <!--<span class="mui-icon mui-icon-more"></span>-->
        <!--<div class="mui-media-body">more</div>-->
        <!--</a></li>-->
    </ul>
    <div class="mui-table-view detail-table-view">
        <div class="mui-row">
            <div class="mui-col-sm-6 mui-col-xs-6">
                <div class="mui-table-view-cell">
                    <span style="color: #808080;">面积</span>
                    <span>70平米</span>
                </div>
            </div>
            <div class="mui-col-sm-6 mui-col-xs-6">
                <div class="mui-table-view-cell">
                    <span style="color: #808080;">方式</span>
                    <span>整租</span>
                </div>
            </div>
        </div>
        <div class="mui-row">
            <div class="mui-col-sm-6 mui-col-xs-6">
                <div class="mui-table-view-cell">
                    <span style="color: #808080;">装修</span>
                    <span>暂无数据</span>
                </div>
            </div>
            <div class="mui-col-sm-6 mui-col-xs-6">
                <div class="mui-table-view-cell">
                    <span style="color: #808080;">楼层</span>
                    <span>中层 / 25层</span>
                </div>
            </div>
        </div>
        <div class="mui-row">
            <div class="mui-col-sm-6 mui-col-xs-6">
                <div class="mui-table-view-cell">
                    <span style="color: #808080;">类型</span>
                    <span>学区房</span>
                </div>
            </div>
            <div class="mui-col-sm-6 mui-col-xs-6">
                <div class="mui-table-view-cell">
                    <span style="color: #808080;">朝向</span>
                    <span>南北</span>
                </div>
            </div>
        </div>
        <div class="mui-row">
            <div class="mui-col-sm-6 mui-col-xs-6">
                <div class="mui-table-view-cell">
                    <span style="color: #808080;">车位</span>
                    <span>有</span>
                </div>
            </div>
            <div class="mui-col-sm-6 mui-col-xs-6">
                <div class="mui-table-view-cell">
                    <span style="color: #808080;">电梯</span>
                    <span>有</span>
                </div>
            </div>
        </div>
        <div class="mui-row">
            <div class="mui-col-sm-6 mui-col-xs-6">
                <div class="mui-table-view-cell">
                    <span style="color: #808080;">看房</span>
                    <span>随时看房</span>
                </div>
            </div>
            <div class="mui-col-sm-6 mui-col-xs-6">
                <div class="mui-table-view-cell">
                    <span style="color: #808080;">入住</span>
                    <span>2109.03.11</span>
                </div>
            </div>
        </div>
    </div>
    <div class="mui-table-view">
        <div class="mui-table-view-cell mui-media">
            <img class="mui-media-object mui-pull-left head-img" id="head-img" src="{{ h.user.avatar }}">
            <div class="mui-media-body">
                {{ h.user.name }}
                <p class='mui-ellipsis'>联系电话:{{ h.user.mobile }}</p>
            </div>
        </div>
        <div class="mui-table-view-cell">
            <p>{{ h.depict }}</p>
        </div>
    </div>
    <button type="button" class="mui-btn mui-btn-primary ihome-call"><span
            class="mui-icon mui-icon-phone-filled">马上联系</span></button>
</div>
</body>
</html>