<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小区详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    {% include "common-js.html" %}
    {% include "common-css.html" %}
    <style>
        .com-content img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="javascript:history.go(-1)"></a>
    <h1 class="mui-title">小区详情</h1>
</header>
<div class="mui-content">
    <div class="com-content">
        <img src="/static/vendor/mui/images/cbd.jpg">
    </div>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            小区名称：{{ com.name | default("暂无数据") }}
        </li>
        <li class="mui-table-view-cell">
            开发商：{{ com.developers | default("暂无数据") }}
        </li>
        <li class="mui-table-view-cell">
            开发时间：{{ com.building_time | default("暂无数据") }}
        </li>
        <li class="mui-table-view-cell">
            地址： {{ com.address | default("暂无数据") }}
        </li>
        <li class="mui-table-view-cell">
            安全等级：
            {% for i in range(com.safe|int) %}
            <span class="mui-icon mui-icon-star-filled"/>
            {% endfor %}
            {% if com.safe-(com.safe|int)>0 %}
            <span class="mui-icon mui-icon-starhalf"/>
            {% endif %}
        </li>
        <li class="mui-table-view-cell">
            绿化率：{{ com.green }}%
        </li>
        <li class="mui-table-view-cell">
            安静程度：{{ com.quiet }}
        </li>
    </ul>
</div>
</body>
</html>