<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:include="common/header :: header"></div>
<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
<script>
    NProgress.configure({showSpinner: false});
    NProgress.start();
</script>

<div class="mobile-sticky-body-overlay"></div>

<div class="wrapper">
    <!-- left-sidebar -->
    <div th:include="common/left-sidebar :: left-sidebar"></div>

    <div class="page-wrapper">
        <!-- main-header -->
        <div th:include="common/main-header :: main-header"></div>

        <div class="content-wrapper">
            <div class="content">
                <!-- Top Statistics -->

                <div class="row">
                    <div class="col-12">
                        <div class="card-body">
                            <a href="/home">
                                <button type="button" th:text="全部" class="pos-btn mb-1 btn btn-outline-dark"></button>
                            </a>
                            <a th:each="position:${positions}" th:href="'/home?pos='+${position.id}" href="/login">
                                <button type="button" th:text="${position.positionName}"
                                        class="pos-btn mb-1 btn btn-outline-dark">
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4" th:each="room:${rooms}">
                        <div class="card text-white bg-dark mb-3" th:if="${room.status == 0}">
                            <div class="card-header bg-primary"
                                 th:text="${room.remark} == null  ? '房间号：'
                                 +${room.roomCode} : '房间号：'+ ${room.roomCode} +' '+ ${room.remark}"></div>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${room.roomName}"></h5>
                                <p class="card-text" th:text="'位置：'+${room.position.positionName}"></p>
                                <p class="card-text" th:text="'单价：'+${room.price}"></p>
                                <p class="card-text" th:text="状态：暂无入住信息"></p>
                                <div class="card-body">
                                    <button type="button" class="mb-1 btn btn-primary btn-sm"
                                            data-toggle="modal"
                                            data-target="#guest-in-model"
                                            th:data-whatever="${room.id}">入住
                                    </button>
                                    <button type="button" class="mb-1 btn btn-danger btn-sm"
                                            data-toggle="modal"
                                            data-target="#room-repair-model"
                                            th:data-whatever="${room.id}">报修</button>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white bg-dark mb-3" th:if="${room.status == 1}">
                            <div class="card-header bg-secondary"
                                 th:text="${room.remark} == null ? '房间号：'
                                 +${room.roomCode} : '房间号：'+ ${room.roomCode} +' '+ ${room.remark}"></div>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${room.roomName}"></h5>
                                <p class="card-text" th:text="'位置：'+${room.position.positionName}"></p>
                                <p class="card-text"
                                   th:text="'单价：'+${room.price}+' 应交金额：'+${room.requiredPrice}+' 实交：'+${room.givedPrice}"></p>
                                <p class="card-text"
                                   th:text="'状态：'+${room.guestName}+' '+${room.startTime}+'-'+${room.endTime}"></p>
                                <div class="card-body">
                                    <button type="button" class="mb-1 btn btn-primary btn-sm"
                                        data-toggle="modal"
                                        data-target="#guest-in-continue-model"
                                        th:data-whatever="${room.id}">续住</button>
                                    <button type="button" class="mb-1 btn btn-danger btn-sm"
                                            data-toggle="modal"
                                            data-target="#guest-out-model"
                                            th:data-whatever="${room.id}">退房</button>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white bg-dark mb-3" th:if="${room.status == 2}">
                            <div class="card-header bg-danger"
                                 th:text="${room.remark} == null ? '房间号：'
                                 +${room.roomCode} : '房间号：'+ ${room.roomCode} +' '+ ${room.remark}"></div>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${room.roomName}"></h5>
                                <p class="card-text" th:text="${room.position.positionName}"></p>
                                <p class="card-text" th:text="'单价：'+${room.price}"></p>
                                <p class="card-text" th:text="状态：待维修"></p>
                                <div class="card-body">
                                    <input type="hidden" id="room-use-room-id">
                                    <button type="button" class="mb-1 btn btn-primary btn-sm" id="room-use-btn"
                                            data-toggle="modal"
                                            data-target="#room-use-model"
                                            th:data-whatever="${room.id}">使用</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- footer -->
        <div th:include="common/footer :: footer"></div>

        <!-- Modal -->
        <!-- 入住 -->
        <div class="modal fade" id="guest-in-model" tabindex="-1" role="dialog" aria-labelledby="guest-in-model-label"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="guest-in-model-label">入住登记</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="needs-validation" id="guest-in-form" novalidate>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="guest-in-name">姓名</label>
                                    <input type="text" class="form-control" id="guest-in-name"
                                           placeholder="姓名" value="" required>
                                    <div class="invalid-feedback">
                                        请输入姓名!
                                    </div>
                                    <div class="valid-feedback">
                                        checked!
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="guest-in-id">身份证</label>
                                    <input type="text" class="form-control" id="guest-in-id"
                                           placeholder="身份证" value="" required>
                                    <div class="invalid-feedback">
                                        请输入身份证!
                                    </div>
                                    <div class="valid-feedback">
                                        checked!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3  input-append date form_datetime">
                                    <label for="daterange-btn">入住时间</label>
                                    <input type="text" class="form-control" id="daterange-btn"
                                           placeholder="入住时间" value="" required>
                                    <div class="invalid-feedback">
                                        请输入入住时间
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="guest-in-money">缴费</label>
                                    <input type="text" class="form-control" id="guest-in-money"
                                           placeholder="已交金额(含押金)" value="" required>
                                    <div class="invalid-feedback">
                                        请填写缴费金额!
                                    </div>
                                    <div class="valid-feedback">
                                        checked!
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="guest-in-time-hidden">
                            <input type="hidden" id="guest-in-room-id-hidden">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 续住 -->
        <div class="modal fade" id="guest-in-continue-model" tabindex="-1" role="dialog" aria-labelledby="guest-in-continue-label"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="guest-in-continue-label">续住登记</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="needs-validation" id="guest-in-continue-form" novalidate>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="col-md-6 mb-3  input-append date form_datetime">
                                    <label for="daterange-continue-btn">续住时间</label>
                                    <input type="text" class="form-control" id="daterange-continue-btn"
                                           placeholder="续住时间" value="" required>
                                    <div class="invalid-feedback">
                                        请输入续住时间
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="guest-in-money">缴费</label>
                                    <input type="text" class="form-control" id="guest-in-continue-money"
                                           placeholder="补交金额" value="" required>
                                    <div class="invalid-feedback">
                                        请填写缴费金额!
                                    </div>
                                    <div class="valid-feedback">
                                        checked!
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="guest-in-continue-time-hidden">
                            <input type="hidden" id="guest-in-continue-room-id-hidden">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 使用 -->
        <div class="modal fade" id="room-use-model" tabindex="-1" role="dialog" aria-labelledby="room-use-model-label"
             aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="room-use-model-label">房间使用</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        是否确认房间已维修完成并投入使用?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="button" id="room-use-confirm-btn" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 保修 -->
        <div class="modal fade" id="room-repair-model" tabindex="-1" role="dialog" aria-labelledby="room-repair-label"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="room-repair-label">报修登记</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="guest-in-money">说明</label>
                                <input type="text" class="form-control" id="room-repair-message"
                                       placeholder="保修说明" value="" required>
                                <input type="hidden" id="room-broken-room-id">
                                <div class="invalid-feedback">
                                    请填写报修说明!
                                </div>
                                <div class="valid-feedback">
                                    checked!
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="room-repair-id-hidden">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="submit" id="room-broken-btn" class="btn btn-primary ">提交</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 退房 -->
        <div class="modal fade" id="guest-out-model" tabindex="-1" role="dialog" aria-labelledby="guest-out-model-label"
             aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="guest-out-model-label">退房登记</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                        <input type="hidden" id="guest-out-room-id">
                        <div class="modal-body">
                            是否退房?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" id="guest-out-btn" class="btn btn-primary">提交</button>
                        </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!--custom js-->
<script th:src="@{/assets/js/custom/index.js}" type="text/javascript"></script>

<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    $(function(){

        // 入住日期
        $('#daterange-btn').daterangepicker({
                ranges: {
                    '今天': [moment(), moment()],
                    '本周': [moment().startOf('week'), moment().endOf('week')],
                    '本月': [moment().startOf('month'), moment().endOf('month')],
//                    '今年': [moment().startOf('year'), moment().endOf('year')]
                },
                locale: {
                    format: "YYYY/MM/DD",
                    separator: " - ",
                    applyLabel: "确认",
                    cancelLabel: "清空",
                    fromLabel: "开始时间",
                    toLabel: "结束时间",
                    customRangeLabel: "自定义",
                    daysOfWeek: ["日","一","二","三","四","五","六"],
                    monthNames: ["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"]
                },
//                startDate: moment(),
//                endDate: moment().endOf('month')
            },
            function(start, end) {
                var tmp = start.format('YYYYMMDD') + '-' + end.format('YYYYMMDD');
                $('#guest-in-time-hidden').val(tmp);
            }
        );
        // 续住日期
        $('#daterange-continue-btn').daterangepicker({
                ranges: {
                    '今天': [moment(), moment()],
                    '本周': [moment().startOf('week'), moment().endOf('week')],
                    '本月': [moment().startOf('month'), moment().endOf('month')],
//                    '今年': [moment().startOf('year'), moment().endOf('year')]
                },
                locale: {
                    format: "YYYY/MM/DD",
                    separator: " - ",
                    applyLabel: "确认",
                    cancelLabel: "清空",
                    fromLabel: "开始时间",
                    toLabel: "结束时间",
                    customRangeLabel: "自定义",
                    daysOfWeek: ["日","一","二","三","四","五","六"],
                    monthNames: ["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"]
                },
//                startDate: moment(),
//                endDate: moment().endOf('month')
            },
            function(start, end) {
                var tmp = start.format('YYYYMMDD') + '-' + end.format('YYYYMMDD');
                $('#guest-in-continue-time-hidden').val(tmp);
            }
        );
        //Date picker
//        $('#datepicker').datepicker({
//            autoclose: true
//        });

    })
</script>

</body>
</html>
